@model WMvcStu.ViewModel.StudentViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_InnerPage.cshtml";
}

<h2> Edit </h2>
<div align="center" width="500px">
    @using (Html.BeginForm("Edit", "Student", FormMethod.Post))
    {
        <table class="table"
               width="400px"
               cellpadding="20">
            <tr>
                <td>
                    @Html.LabelFor(model => model.student.StudentName)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.student.StudentName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.student.Class)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.student.Class)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.student.FatherName)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.student.FatherName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.student.MotherName)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.student.MotherName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.student.DateOfBirth)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.student.DateOfBirth)
                </td>
            </tr>
            <tr>
                <td> </td>

                <td>
                    <input type="submit" value="Save"  /> &nbsp; <a  style="padding:5px;" href="@Url.Action("Index","Student")"> Back </a>
                    @Html.HiddenFor(model => model.student.StudentId)
                </td>
            </tr>
        </table>
    }
</div>
