<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="~/UIFiles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/UIFiles/css/icomoon-social.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

    <link href="~/UIFiles/css/leaflet.css" rel="stylesheet" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/leaflet.ie.css" />
    <![endif]-->
    <link href="~/UIFiles/css/main.css" rel="stylesheet" />
    <script src="~/UIFiles/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body>

    <!-- Navigation & Logo-->
    <div class="mainmenu-wrapper">
        <div class="container">
            <div class="menuextras">
                <div class="extras">
                    &nbsp;
                </div>
            </div>
            <nav id="mainmenu" class="mainmenu">
                <ul>
                    <li class="logo-wrapper" style="font-weight:bolder;">@Html.ActionLink("Student Management", "HomePage", "Home")</li>
                    @if (Session["USERID"] == null)
                    {
                        <li style="margin-left:200px;">@Html.ActionLink("Enrollment", "EnrollCre", "Enrollment")</li>
                        <li>
                            @Html.ActionLink("Course", "Course", "Course")
                        </li>
                        <li>
                            @Html.ActionLink("About", "About", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Log In", "LogIn", "LogIn")
                        </li>
                    }
                    else
                    {
                        <li style="margin-left:200px;">
                            @Html.ActionLink("Log Out", "LogOut", "LogIn")
                        </li>
                        <li>
                            @Html.ActionLink("Enrollment Details", "EnrollDet", "Enrollment")
                        </li>
                        <li>
                            @Html.ActionLink("Student Details", "Index", "Student")
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

    <!-- Homepage Slider -->
    <div style="margin-top:1%;margin-left:10%;margin-right:10%;margin-bottom:1%; min-height:440px;box-shadow: 0 1px 30px #999; background-color: #E6F1F9; padding:1%; ">
        @RenderBody()
    </div>
    <!-- End Homepage Slider -->
    <!-- Footer -->
    <div class="footer" style="height:80px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright">&copy; 2019. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="~/UIFiles/js/bootstrap.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
    <script src="~/UIFiles/js/jquery.fitvids.js"></script>
    <script src="~/UIFiles/js/jquery.sequence-min.js"></script>
    <script src="~/UIFiles/js/jquery.bxslider.js"></script>
    <script src="~/UIFiles/js/main-menu.js"></script>
    <script src="~/UIFiles/js/template.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
